@import "tailwindcss";

@theme {
  --color-primary: #0B1014;
  --color-secondary: #5E5E5E;
  --color-tertiary: #F7F6F5;
  --color-body: #FFF;
  --font-geist: "Geist", sans-serif;
}

body {
  background: var(--color-body);
  color: var(--color-primary);
  font-family: var(--font-geist);
}

/* ── Components ─────────────────────────────────────── */


